body {
  background-color: #FBFBFB;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Tahoma, Geneva, sans-serif;
}
p, div, a, textarea, label {
  font-family: "Roboto Slab","Palatino Linotype", "Book Antiqua", Palatino, serif;
}
label {
  color: #0E3C78;
}
li {
  background-color: #FBFBFB !important;
}
input, textarea {
  color: #002350 !important;
}
::-webkit-input-placeholder {
   color: #9FB1CA !important;
}
:-moz-placeholder {
   color: #9FB1CA !important;  
}
::-moz-placeholder {
   color: #9FB1CA !important;  
}
:-ms-input-placeholder {  
   color: #9FB1CA !important;  
}
.h1 {
  font-size: 48px;
}
.h2 {
  font-size: 36px;
}
.h3 {
  font-size: 24px;
}
.h4 {
  font-size: 18px;
}
.h5 {
  font-size: 14px;
}
.h6 {
  font-size: 12px;
}
.header {
  background-color: #3E6291;
  color: #9FB1CA;
  height: 100px;
}
.p {
  font-size: 14px;
}
.pbold {
  font-size: 14px;
  font-weight: bold;
  margin-top: 10px;
  color: #002350;
}
.subtitle {
  background-color: #002350;
  color: #FBFBFB;
}
.subsubtitle {
  color: #002350;
  margin-bottom: 0px;
}
/*-------Style sheet elements above this line; do not alter-------*/

/*Issue 1*/
fieldset {
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #9FB1CA;
  border-radius: 4px;
  background-color: #9FB1CA;
}
legend {
  border: 1px solid #0E3C78;
  width: 352px;
  border-radius: 4px;
  background-color: #9FB1CA;
  padding-top: 5px;
  padding-bottom: 5px;
}
.bottomspacer {
  margin-bottom: 7px;
}
.entrytexts {
  margin-top: 30px;
}
.keywordssubmit { /*delete if going with the second option for issue 1*/
  margin-top: 15px;
}
.minispacer {
  margin-top: 15px;
}
.newpost {
  background-color: #002350;
  color: #FBFBFB;
}
.postbutton {
  margin-top: 23px;
  background-color: #3E6291;
  color: #9FB1CA;
  border-color: #3E6291;
  font-size: 24px;
}
.postbutton:active {
  color: #002350 !important;
  background-color: #9FB1CA !important;
  border-color: #3E6291 !important;
}
.postbutton:hover {
  color: #FBFBFB;
  background-color: #002350;
  border-color: #3E6291;
}
.subform {
  margin-bottom: 0px;
}
.spacer {
  height: 100px;
}
.thelegend {
  text-align: center;
}

/*Issue 2*/
.excerpt {
  margin-bottom: 0px;
  height: 40px !important;
  color: #92A1B4;
  overflow: hidden;
}
.listbox {
  height: 500px;
  border: 1px solid #9FB1CA;
  border-radius: 4px;
  background-color: #9FB1CA;
  overflow: scroll;
  margin-top: 10px;
  padding: 15px 15px 0px 15px;
}
.listright {
  padding-left: 0px;
}
.tallydown {
  color: red;
}
.tallyup {
  color: green;
}
.votearrows {
  background-color: FBFBFB;
  text-align: center;
}
/*
COLORS
#background {
  background-color: #FBFBFB;
}
#lightaccent {
  background-color: #92A1B4;
}
#lighthue {
  background-color: #9FB1CA;
}
#mainhue {
  background-color: #3E6291;
}
#darkaccent {
  background-color: #0E3C78;
}
#darkhue {
  background-color: #002350;
}
*/